

/* .w-10{
    width: 30px;
} */

::ng-deep .form-select {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0 0 16 16'%3E%3Ctext%20x='4'%20y='12'%20font-family='Arial'%20font-size='14'%3E▼%3C/text%3E%3C/svg%3E")!important;
    background-color: #E0EDEE;
}