<div class="card-body p-3">
  <h2 class="mb-1">CNA AR - Campaign 2025</h2>
 <div _ngcontent-ng-c928818370="" class="badge px-3 fw-normal mt-1 mb-3 cursor-pointer status-in-submitted"> Submitted </div>
  <hr class="mt-0 mb-1" />

  <div class="row mb-4">
    <div class="col-md-4">
      <div>
        <label class="d-block">Campaign</label>
        <b>RA24</b>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <label class="d-block">State</label>
        <b>AR</b>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <label class="d-block">U/W Company</label>
        <b>CCC</b>
      </div>
    </div>
  </div>
  <p class="mb-1"><label>Approved Date of Filing: </label> <b> 05/06/2025</b></p>
  <hr class="mt-0 mb-1" />
  <div class="fs-13 d-lg-block d-xl-flex">
    <div class="fw-bold me-2">Modified By: David Peterson</div>
    <span class="d-none d-xl-block me-2">|</span>
    <div>2&nbsp;Days&nbsp;Ago</div>
  </div>
  <div>Created By:</div>
  <!-- <div class="fs-13 d-lg-block d-xl-flex"><div class="fw-bold me-2"> Modified By: {{ data.modifiedBy }}</div><span class="d-none d-xl-block me-2">|</span><div>{{ data.updatedDaysBefore }}&nbsp;Days&nbsp;Ago</div></div>
    <div> Created By: {{ data.createdBy }}</div> -->
</div>
