<div>
    <div class="d-flex justify-content-between m-3 text-white rate-action-heading p-3 rounded-3">
        <div class="d-flex align-items-center gap-3 flex-wrap">
            <img src="../../../../assets/images/apps-2-line.svg" alt="menu">
            <h4 class="mb-0 ps-4 border-left fw-bold">Transamerica MA - Rate Action - Uni23</h4>
            <p class="mb-0 border-right border-left px-3"><strong>Rate Program:</strong> Legacy</p>
            <p class="mb-0 submitted-detail-btn px-2 ">Submitted</p>
        </div>
        <button type="button" class="btn btn-primary">View Details</button>
    </div>

    <div class="m-2 row">
        <!-- Uploaded Files Section -->
        <div class="card-body m-2 col-md-3">
            <div class="card-header">
                <h4 class="fw-bold">Uploaded Files</h4>
            </div>
            <hr />
            <div>
                <h5 class="fw-bold">Memo Details</h5>
                <p><i  class="bi bi-caret-right-fill fs-8 px-1"></i>Transamerica-MA-Legacy : Memo File 2025.zip</p>
            </div>
            <hr />
            <div>
                <h5 class="fw-bold">Policy List</h5>
                <p><i  class="bi bi-caret-right-fill fs-8 px-1"></i>Transamerica-MA-Legacy : Policy List 2025.zip</p>
            </div>
            <hr />
            <div>
                <h5 class="fw-bold">Correspondence Data</h5>
                <p><i  class="bi bi-caret-right-fill fs-8 px-1"></i>Transamerica-MA-Legacy : Correspondence 2025.zip</p>
            </div>
            <hr />
            <div>
                <h5 class="fw-bold">Other Documents</h5>
                <p><i  class="bi bi-caret-right-fill fs-8 px-1"></i>Transamerica-MA-Legacy - Other Documents.doc</p>
                <p><i  class="bi bi-caret-right-fill fs-8 px-1"></i>Transamerica-MA-Legacy - Other Documents.doc</p>
            </div>
        </div>

        <!-- Controls Section -->
        <div class="card-body m-2 col-md-3">
            <div class="card-header">
                <h4 class="fw-bold">Controls</h4>
                <p class="small my-3">Help text tbd....</p>
            </div>
            <hr />
            <button class="btn btn-border btn-info ">
                <span class="bi bi-pencil-square pe-1 text-warning"></span>
                View Control-5 Report Comparison
            </button>
            <hr />
            <button class="btn btn-border btn-info ">
                <span class="bi bi-pencil-square pe-1 text-warning"></span>
                View Control-7 (POP7) Report
            </button>
            <hr />
        </div>

        <!-- Validations Section -->
        <div class="card-body m-2 col-md-3">
            <div class="card-header">
                <h4 class="fw-bold">Validations</h4>
                <p class="small my-3">Help text tbd....</p>
            </div>
            <hr />
            <button class="btn btn-border btn-info"><span class="bi bi-pencil-square pe-1 text-warning"></span>View
                Control-7 vs WB</button>
            <hr />
            <button class="btn btn-border btn-info"><span class="bi bi-pencil-square pe-1 text-warning"></span>View
                POP7 vs EPS</button>
            <hr />
            <button class="btn btn-border btn-info"><span class="bi bi-pencil-square pe-1 text-warning"></span>View
                Policy List - Case 360</button>
            <hr />
            <button class="btn btn-border btn-info"><span class="bi bi-pencil-square pe-1 text-warning"></span>View
                Revision Log</button>
            <hr />
        </div>
    </div>
</div>