.login-wrapper{
    width: 1090px;
    margin-right: auto;
    margin-left: auto;
    margin-top: var(--px-25);
    height: 590px;
    
    h1{
        font-size: var(--px-38);
        color: var(--white);
    }
    .hero-image{
        padding: var(--px-38);
        background-color: var(--blue-600);
        border-radius: var(--px-20);
        margin-right: 70px;
        background-image: url("../../../../assets/images/brand-login-header.png");
        background-size: cover;
    }
    .illumifin-logo{
        display: flex;
        justify-content: flex-end !important;
        margin: 10px 0 80px 0;
    }
    .brand-logo{
         margin: 0px 0 20px 0;
    }
}